{% extends 'base.html' %}
{% load static %}
{% block content %}


<style>
 /*Question */


 .titreQuestion1{
 	font-size:var(--respFont1);

 }

 .img_docteur{
  width:130px;height:180px;
 }
 @media screen and (max-width:900px){
  .img_docteur{
    width:100px;height:120px;
  }
 }
 @media screen and (max-width:900px){
  .img_docteur{
    width:0px;height:120px;
  }
 }


   /*Question */


  .buttonChoice{
    margin:auto;
    display:flex;
  	border-radius:50%;
    transition:all 0.05s;
    cursor:pointer;
    margin-right:0.34em;margin-left:0.34em;

}
.buttonChoice_neutralSize{
  width:27px;height:27px;
}
.buttonChoice_littleSize{
  width:33px;height:33px;
}
.buttonChoice_mediumSize{
  width:37px;height:37px;
}
.buttonChoice_wideSize{
  width:41px;height:41px;
}
.buttonChoice_greenBorder{
  border:3px solid #45AA32;
}
.buttonChoice_grayBorder{
  border:3px solid #AAAAAA;
}
.buttonChoice_redBorder{
  border:3px solid #AA4532;
}


.text_information_choice{
  margin:auto;
  margin:1em;
  font-size:var(--respFont1);
}

.green_color1{
  color:#45AA32;
}

.red_color1{
  color:#AA4532;
}


</style>



	<div class="img_docteur" ><img style="width:100%;height:100%;"src="{% static 'nutridelta/img/medecin.png' %}"></div>


	<div style="margin:auto">
		<div class="titreQuestion1" style="display:flex;margin:auto;margin-bottom:1em">
			Avez vous des problèmes de sécheresse autour de la bouche?
		</div>
		<div style="display:flex;margin:auto">
			<div style="margin:auto;display:flex;">
				<div class="text_information_choice green_color1">Oui</div>
				<div class="buttonChoice buttonChoice_wideSize buttonChoice_greenBorder"  id="0"onclick="remplissage(this.id,'remplissage_button_choice_green');">
				</div>
				<div class="buttonChoice buttonChoice_mediumSize buttonChoice_greenBorder"  id="1"onclick="remplissage(this.id,'remplissage_button_choice_green');">
				</div>
				
				<div class="buttonChoice buttonChoice_littleSize buttonChoice_greenBorder"  id="2"onclick="remplissage(this.id,'remplissage_button_choice_green');">
				</div>
				<div class="buttonChoice buttonChoice_neutralSize buttonChoice_grayBorder"  id="3" onclick="remplissage(this.id,'remplissage_button_choice_neutral');">
				</div>
				<div class="buttonChoice buttonChoice_littleSize buttonChoice_redBorder"  id="4"onclick="remplissage(this.id,'remplissage_button_choice_red');">
				</div>
				<div class="buttonChoice buttonChoice_mediumSize buttonChoice_redBorder"  id="5"onclick="remplissage(this.id,'remplissage_button_choice_red');">
				</div>
				<div class="buttonChoice buttonChoice_wideSize buttonChoice_redBorder"  id="Oui"onclick="remplissage(this.id,'remplissage_button_choice_red');">
				</div>
				<div class="text_information_choice red_color1">Non</div>
				

			</div>
		</div>
	</div>


<script type="text/javascript">

function remplissage(id){
	$(".buttonChoice").each(function(){
		$(this).css("background-color","white");
	});

	var test=$("#"+id).css("border-left-color");
	
	$("#"+id).css("background-color",test);
}

</script>


{% endblock %}

