 /* fonts */

 @import url("../fonts/kelson_light_macroman/stylesheet.css");
 /* police : kelson_lt */

 @import url("../fonts/kelson_medium_macroman/stylesheet.css");
 /* police : kelson_md */

 @import url("../fonts/kelson_regular_macroman/stylesheet.css");
 /* police : kelson_rg */

 @import url("../fonts/kelson_thin_macroman/stylesheet.css");
 /* police : kelson_ultralt */

 @import url("../fonts/gotham/style.css");
 /* police : kelson_ultralt */

 @import url("buttons.css");

 .font-title-rg {
 	/*corespond au font utilisée pour les titres*/
 	font-family: 'kelson_rg', sans-serif;
 }

 .font-title-lt {
 	/*corespond au font utilisée pour les titres*/
 	font-family: 'kelson_lt', sans-serif;
 }

 .font-title-md {
 	/*corespond au font utilisée pour les titres*/
 	font-family: 'kelson_md', sans-serif;
 }

 .font-title-ultralt {
 	/*corespond au font utilisée pour les titres*/
 	font-family: 'kelson_ultralt', sans-serif;
 }

 .font-text-Book {
 	/*corespond au font utilisée pour les textes courants*/
 	font-family: 'Gotham-Book', sans-serif;
 }

 .font-text-Bold {
 	/*corespond au font utilisée pour les textes courants*/
 	font-family: 'Gotham-Bold', sans-serif;
 }

 .font-text-Light {
 	/*corespond au font utilisée pour les textes courants*/
 	font-family: 'Gotham-Light', sans-serif;
 }

 /* permet de déclarer nos variables en css */
 :root {
  
  --mediumScreen:750px;
  
 
 	--normal_spacing:1em;


  --smallMargin:0.77em;
	
	--smallBorderRadius:3px;

	--font_resp1:15px;
	--respFont1:14px;
	--respTitle1:20px;
	--respMargin1:2em;

	--nutrideltaColor:#E64632;

	--light_shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);
	--light_shadow_special_footer: 0 -1px 3px rgba(0,0,0,0.12), 0 -1px 2px rgba(0,0,0,0.24);
	
	--hard_shadow:0px 2px 3px #cccccc;

	--border_radius:7px;

 }

 /* si la taille d'écran est en dessous de 750px (ex: telephone, tablette) */
 /* on change la valeur de nos variables  */
 @media screen and (max-width:var(--mediumScreen)) {
 	:root {
		 --Smargin1: 0.15em;
		 --respFont1:19px;
		 --respTitle1:15px;
		 --respMargin1:0.5em;
		 --font_resp1:12px;
		
 	}
}



/*body, html , div, container, content */

body, html {
 height: 100%;
 padding: 0;
 background-image:url('../themeNutridelta/fond_result.jpg');
font-size:var(--font_resp1);
font-family: 'Gotham-Light', sans-serif;

}


div {
	

}
.container-nutridelta {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  
}

.content-nutridelta {
 	width:100%;height:auto;
  	margin:auto;
   padding:var(--normal_spacing);
 
}

.container-acceuil-nutridelta{

max-width:1000px;
padding:var(--normal_spacing);
margin-top:1.5em;
}


.container-account-nutridelta{
background-color:rgba(255,255,255,0.96);
margin:auto;
box-shadow:var(--light_shadow);
font-size:var(--font_resp1);
border-radius:var(--border_radius);
max-width:600px;
padding:var(--normal_spacing);
margin-top:1.5em;


}







/*title*/
.title-nutridelta{
color:var(--nutrideltaColor);
font-size:var(--respTitle1);
font-family: 'kelson_md', sans-serif;
}

/*title*/



.magic_flos_responsive{
	display:flex;flex-wrap: wrap;justify-content:center;
}



.small_font_size{
	font-size:10px;
}

 /*shadow*/

 .shadow_google {

  box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);
 
 }

 /*shadow*/


footer .linksite a{
	color:white;
}
footer .linksite a:hover{
	
	
}


 /*margin */

 .margin-right {
 	margin-right: var(--smallMargin);
 }

 .margin-left {
 	margin-left: var(--smallMargin);
 }

 .margin-bottom {
 	margin-bottom: var(--smallMargin);
 }


  /*margin */







#form_account label{
font-family: 'kelson_rg', sans-serif;
}


#nav{

	box-shadow:var(--light_shadow);
}

#footer{
	box-shadow:var(--light_shadow_special_footer);
}


.left_side_index{padding-top:65px;padding-right:10vw;padding-left:2vw;width:75%;}
.logo{width:23%;}
#logo{
-webkit-transition:-webkit-transform .5s; 
  -moz-transition:-moz-transform .5s;       
  -o-transition:-o-transform .5s;           
  -ms-transition:-ms-transform .5s;         
  transition:transform .5s;


}
#logo:hover{
	-webkit-transform:rotate(360deg); 
  -moz-transform:rotate(360deg);
  -o-transform:rotate(360deg); 
  -ms-transform:rotate(360deg); 
  transform:rotate(360deg);
}
.logo  img{
  -webkit-transition:-webkit-transform .5s; 
  -moz-transition:-moz-transform .5s;       
  -o-transition:-o-transform .5s;           
  -ms-transition:-ms-transform .5s;         
  transition:transform .5s;
  
}
  .logo  img:hover{
  -webkit-transform:rotate(360deg); 
  -moz-transform:rotate(360deg);
  -o-transform:rotate(360deg); 
  -ms-transform:rotate(360deg); 
  transform:rotate(360deg);
} 

@media screen and (max-width:900px){
	#logo{
		display:none;
	}
	.logo{
		display:none;
	}
	.left_side_index{width:96%;margin:auto;padding-right:2vw;}
}


.nav-link{font-size:12px;}