@import url("../fonts/kelson_light_macroman/stylesheet.css");
/* police : kelson_lt */

@import url("../fonts/kelson_medium_macroman/stylesheet.css");
/* police : kelson_md */

@import url("../fonts/kelson_regular_macroman/stylesheet.css");
/* police : kelson_rg */

@import url("../fonts/kelson_thin_macroman/stylesheet.css");
/* police : kelson_ultralt */

@import url("../fonts/gotham/style.css");
/* police : kelson_ultralt */

@import url("headerAndFooter.css");

.font-title-rg {
  /*corespond au font utilisée pour les titres*/
  font-family: 'kelson_rg', sans-serif;
}

.font-title-lt {
  /*corespond au font utilisée pour les titres*/
  font-family: 'kelson_lt', sans-serif;
}

.font-title-md {
  /*corespond au font utilisée pour les titres*/
  font-family: 'kelson_md', sans-serif;
}

.font-title-ultralt {
  /*corespond au font utilisée pour les titres*/
  font-family: 'kelson_ultralt', sans-serif;
}

.font-text-Book {
  /*corespond au font utilisée pour les textes courants*/
  font-family: 'Gotham-Book', sans-serif;
}

.font-text-Bold {
  /*corespond au font utilisée pour les textes courants*/
  font-family: 'Gotham-Bold', sans-serif;
}

.font-text-Light {
  /*corespond au font utilisée pour les textes courants*/
  font-family: 'Gotham-Light', sans-serif;
}

/* permet de déclarer nos variables en css */
:root {

  --fontSizeTitle1: calc(10px + 1.33vmin);
  --font_resp1: 15px;
  --respFont1: 14px;


  --nutrideltaColor: #E64632;

  --light_shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
  --light_shadow_special_footer: 0 -1px 3px rgba(0, 0, 0, 0.12), 0 -1px 2px rgba(0, 0, 0, 0.24);
  --normal_shadow: 0 10px 20px rgba(0, 0, 0, 0.19), 0 6px 6px rgba(0, 0, 0, 0.23);
  ;
  --hard_shadow: 0px 2px 6px #555555;

  --borderRadius: 7px;
  --smallFontSize: 10px;
  --navLinkFontSize: 15px;

}



/* si la taille d'écran est en dessous de 750px (ex: telephone, tablette) */
/* on change la valeur de nos variables  */
@media screen and (max-width:700px) {
  :root {
    --Smargin1: 0.15em;

    --respTitle1: 10px;
    --font_resp1: 12px;
    --navLinkFontSize: 13px;
  }

  .container {
    padding: 0em;
  }
}

/*RESPONSIVE*/
.magic_flos_responsive {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}
.magic_flos_responsive_left {
  display: flex;
  flex-wrap: wrap;
  justify-content: left;
}

/*RESPONSIVE*/



html {
  min-height: 100vh;
  padding: 0;
  background-image: url('../themeNutridelta/fond_result.jpg');

  font-family: 'font-title-ultralt ', sans-serif;
  font-size: calc(10px + 1vmin);
}

body {

  font-family: 'Gotham-Book', sans-serif;
  margin: auto;
  background-color: rgba(255, 255, 255, 0);
}

div {
  border: 0px solid black;

}




/*CONTAINER*/
.main-content-nutridelta {
  display: flex;
  flex-direction: column;
  min-height: 100vh;

}

.block-content-nutridelta {
  width: 100%;
  max-width: 1000px;
  margin: auto;

  margin-top: 1em;
  display: flex;
}



.container-acceuil-nutridelta {


  margin: auto;
}


.container-account-nutridelta {

  margin: auto;
  max-width: 1000px;
  border-radius: var(--borderRadius);
  margin-top: 1.5em;
}

/*CONTAINER*/









/*FONT SIZE*/
.title-nutridelta {
  color: var(--nutrideltaColor);
  font-size: var(--fontSizeTitle1);
  font-family: 'kelson_md', sans-serif;
}

.small_font_size {
  font-size: var(--smallFontSize);
}

/*FONT SIZE*/







/*SHADOW*/
.shadow_google {

  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);

}

/*SHADOW*/





/*FORM*/

#form_account label {
  font-family: 'kelson_rg', sans-serif;
}

/*FORM*/






/*BUTTONS*/

.button1 {


  box-shadow: 3px 3px;

  font-family: 'kelson_md', sans-serif;
  background-color: #e6432e;
  transition: all 0.07s;
  cursor: pointer;
  padding: 20px;
  border: 1px solid rgba(255, 255, 255, 0.3);
  color: white;
  display: block;
  font-size: var(--fontSizeTitle1);

}

.button1:hover {

  opacity: 0.75;
}

.button1:active {
  transform: translate(2px, 2px);
  box-shadow: none;
}

/*BUTTONS*/


.img1 {
  width: 100%;
  height: 100%;
}




.list_objectives {
  cursor: pointer;
}

.list_objectives:hover {
  background-color: #EEEEEE;
}




.blockChoiceObjective {
  border: 0px solid black;
}

.choixObjectif {
  width: 185px;
  cursor:pointer;
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
  border-radius:17px;
  background-color:rgba(255,255,255,0.17);
  border:10px solid white;

}
.choixObjectif:hover{
box-shadow: 0px 1px 11px #666666;

}
.objectifSelected{
  
  border:10px solid #7abc1e;
  background-color:rgba(200,255,200, 0.2);
}


.card {
  padding: 0;
  marborder: 2px solid blue;
 }
