@import url("../fonts/kelson_light_macroman/stylesheet.css");
/* police : kelson_lt */

@import url("../fonts/kelson_medium_macroman/stylesheet.css");
/* police : kelson_md */

@import url("../fonts/kelson_regular_macroman/stylesheet.css");
/* police : kelson_rg */

@import url("../fonts/kelson_thin_macroman/stylesheet.css");
/* police : kelson_ultralt */

@import url("../fonts/gotham/style.css");
/* police : kelson_ultralt */

@import url("headerAndFooter.css");

.font-title-rg {
  /*corespond au font utilisée pour les titres*/
  font-family: 'kelson_rg', sans-serif;
}

.font-title-lt {
  /*corespond au font utilisée pour les titres*/
  font-family: 'kelson_lt', sans-serif;
}

.font-title-md {
  /*corespond au font utilisée pour les titres*/
  font-family: 'kelson_md', sans-serif;
}

.font-title-ultralt {
  /*corespond au font utilisée pour les titres*/
  font-family: 'kelson_ultralt', sans-serif;
}

.font-text-Book {
  /*corespond au font utilisée pour les textes courants*/
  font-family: 'Gotham-Book', sans-serif;
}

.font-text-Bold {
  /*corespond au font utilisée pour les textes courants*/
  font-family: 'Gotham-Bold', sans-serif;
}

.font-text-Light {
  /*corespond au font utilisée pour les textes courants*/
  font-family: 'Gotham-Light', sans-serif;
}

/* permet de déclarer nos variables en css */
:root {
  --smallSize:800px;
  --fontSizeTitle1: calc(10px + 1.33vmin);
  --font_resp1: 15px;
  --respFont1: 14px;


  --nutrideltaColor: #E64632;
  --strong-shadow: 0 19px 38px rgba(0,0,0,0.30), 0 15px 12px rgba(0,0,0,0.22);
  --light_shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
  --light_shadow_special_footer: 0 -1px 3px rgba(0, 0, 0, 0.12), 0 -1px 2px rgba(0, 0, 0, 0.24);
  --normal_shadow: 0 10px 20px rgba(0, 0, 0, 0.19), 0 6px 6px rgba(0, 0, 0, 0.23);
  ;
  --hard_shadow: 0px 2px 6px #555555;

  --borderRadius: 7px;
  --smallFontSize: 10px;
  --navLinkFontSize: 15px;

}



/* si la taille d'écran est en dessous de 750px (ex: telephone, tablette) */
/* on change la valeur de nos variables  */
@media screen and (max-width:var(--smallSize)) {
  :root {
    --Smargin1: 0.15em;

    --respTitle1: 10px;
    --font_resp1: 12px;
    --navLinkFontSize: 13px;
  }

  .container {
    padding: 0em;
    font-family: 'kelson_rg', sans-serif;

  }
}

/*RESPONSIVE*/
.magic_flos_responsive {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}
.magic_flos_responsive_left {
  display: flex;
  flex-wrap: wrap;
  
}

/*RESPONSIVE*/



html {
  min-height: 100vh;
  padding: 0;
  background-image: url('../themeNutridelta/fond_result.jpg');
  

  font-family: 'font-title-ultralt ', sans-serif;
  font-size: calc(10px + 1vmin);
  width:100%;
}

body {
 width:100%;
  font-family: 'Gotham-Book', sans-serif;
  margin: auto;
   background-image: url('../themeNutridelta/fond_result.jpg');
   background-size: cover;
}

div {
  border: 0px solid black;

}




/*CONTAINER*/
.main-content-nutridelta {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  width:100%;
  
}
.content{
  width:100%;margin:auto;
margin-top:1em;
min-height:60vh;
  display:flex;
  padding-top:1em;
}
.ss-content{
  margin:auto;

  width:100%;
}
.containerQuestionnaire{

  box-shadow:var(--normal_shadow);
  width:96%;max-width:650px;
  margin:auto;margin-top:1em;

  background-color:white;
  padding:1.25em;
  border-radius:5px;
}

@media screen and (max-width:800px){
  .content{

  padding-top:0.11em;
  display:flex;
    margin-top:0em;
}
.containerQuestionnaire{
padding:0.66em 0.44em;
  margin-top:0em;
}
.main-content-nutridelta {
  min-height: 0vh;
}
}

h5{
  font-family: 'kelson_md', sans-serif;
}

.container-acceuil-nutridelta {

width:100%;
max-width:950px;

  margin: auto;
}


.container-account-nutridelta {

  margin: auto;
  max-width: 1000px;
  border-radius: var(--borderRadius);
  margin-top: 1.5em;
}

/*CONTAINER*/








/*FONT SIZE*/
.title-nutridelta {
  color: var(--nutrideltaColor);
  font-size: var(--fontSizeTitle1);
  font-family: 'kelson_md', sans-serif;
}

.small_font_size {
  font-size: var(--smallFontSize);
}

/*FONT SIZE*/







/*SHADOW*/
.shadow_google {

box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);

}

/*SHADOW*/





/*FORM*/

#form_account label {
  font-family: 'kelson_rg', sans-serif;
}

/*FORM*/






/*BUTTONS*/

.button1 {
width:100%;
margin:auto;
  box-shadow: 3px 3px;

  font-family: 'kelson_md', sans-serif;
  background-color: #e6432e;
  transition: all 0.07s;
  cursor: pointer;
  padding: 20px;
  border: 1px solid rgba(255, 255, 255, 0.3);
  color: white;
  display: block;
  font-size: var(--fontSizeTitle1);

}

.button1:hover {

  opacity: 0.75;
}

.button1:active {
  transform: translate(2px, 2px);
  box-shadow: none;
}

/*BUTTONS*/


.img1 {
  width: 100%;
  height: 100%;
}




.list_objectives {
  cursor: pointer;
}

.list_objectives:hover {
  background-color: #EEEEEE;
}





.containerChoixObjectif{

 padding:0.9em;margin-bottom:0.45em;
}
.choixObjectif {
 width:150px;height:150px;
  cursor:pointer;
  
  border-radius:50%;

  padding:0.9em;
  
  
  background-size: contain;
background-repeat: no-repeat;
 background-position: center;
 background-color:white;

    
}
@media screen and (max-width: 800px){
  .choixObjectif{
    width:95px;height:95px;

   

  }
}
.choixObjectif:hover{
 box-shadow:var(--hard_shadow);;

}
.choixSexe{
  width:48%;text-align:center;padding:0.8em;cursor:pointer;margin-right:1%;border-radius:0.25em;
  border:3px solid white;

}
.choixSexe:hover{
 box-shadow:var(--hard_shadow);;

}

.choixAllaitante{
  width:48%;text-align:center;padding:0.8em;cursor:pointer;margin-right:1%;border-radius:0.25em;
border:3px solid white;
}
.choixSexe:hover{
 box-shadow:var(--hard_shadow);;

}

.choixEnceinte{
  width:48%;text-align:center;padding:0.8em;cursor:pointer;margin-right:1%;border-radius:0.25em;
border:3px solid white;
}



.objectSelected{
  
  border:3px solid #7abc1e;
  background-color:rgba(200,255,200, 0.5);
}

.containerListeObjectives{
  display:flex;margin:auto;padding:1.5em;
}

.descriptionChoixObjectif{
  font-size:var(--font_resp1);
 
  width:100%;text-align:center;margin-top:0.6em; font-family: 'kelson_rg', sans-serif;
}


 .bottomQuestionnaireBarre{
  display:flex;position:relative;
  
 
  
  width:100%;
  margin:auto;
 }


.btn-primary{
  background-color:#e6432e;
  border-color:#e6432e;
}

.btn-primary:hover{
  background-color:#EEEEEE;
  border-color:#EEEEEE;;
}



.next, .prev{
  cursor:pointer;
}


.next{
width: 0;
height: 0;
border-style: solid;
border-width: 20px 0 20px 30px;
border-color: transparent transparent transparent #000000;
}

.prev{
width: 0;
height: 0;
border-style: solid;
border-width: 20px 30px 20px 0;
border-color: transparent #000000 transparent transparent;
}
.prev:hover{
  border-color: transparent #e64621; transparent: transparent;
}
.next:hover{
  border-color: transparent transparent transparent  #e64621;
}
@media screen and (max-width: 800px){
  .next{
    border-width: 10px 0 10px 15px;
  }
  .prev{
    border-width: 10px 15px 10px 0;
  }
}


.container-suivant{
  display:flex;width:100%;margin-top:1em;
}

.container-title-questionnaire{
text-align:center;padding:0.5em;
  position:relative;
  display:flex;width:100%;
  font-family: 'kelson_rg', sans-serif;
  font-size:var(--fontSizeTitle1);
}
.title-questionnaire{
  margin:auto;padding-left:1em;padding-right:1em;
}

.div_user_sport{
  padding:0.77em;margin-top:0.5em;
}

.card {
  background: #fff;
  border-radius: 2px;
  display: inline-block;
  height: 300px;
  margin: 1rem;
  position: relative;
  width: 300px;
}

.card-1 {
  box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);
  transition: all 0.3s cubic-bezier(.25,.8,.25,1);
}

.card-1:hover {
  box-shadow: 0 7px 14px rgba(0,0,0,0.25), 0 5px 5px rgba(0,0,0,0.22);
}

.card-2 {
  box-shadow: 0 3px 6px rgba(0,0,0,0.16), 0 3px 6px rgba(0,0,0,0.23);
}

.card-3 {
  box-shadow: 0 10px 20px rgba(0,0,0,0.19), 0 6px 6px rgba(0,0,0,0.23);
}

.card-4 {
  box-shadow: 0 14px 28px rgba(0,0,0,0.25), 0 10px 10px rgba(0,0,0,0.22);
}

.card-5 {
  box-shadow: 0 19px 38px rgba(0,0,0,0.30), 0 15px 12px rgba(0,0,0,0.22);
}



