{% load static %}

<html>
    <head>
        <title>Best Predicter</title>
        
        
        <link rel="stylesheet" href="{% static 'polls/css/style.css' %}">
        
    </head>
    <body>
<header>
        <div class="Title padd_item_menu" style=""><b>Sample Title</b></div>
        <div class="menu-container">
            <div class="menu-item padd_item_menu">Ajouter une question</div>
            <div class="menu-item padd_item_menu">Ajouter un choix</div>
        </div>

</header>


           

        <div class="main-content">
            {% block content1 %}
        
{% endblock %}
</div>

</div>
    </body>
</html>