body{padding:0;
margin:0;

line-height:1.625rem;
font-family:LemonSans, Arial, sans-serif;
}

header{
	width:100%;
	background-color:#888888;
	display:flex;
	padding:1%;
}

.title{
	
	font-size:130%;
}

.padd_item_menu{
	padding:10px;
}

.menu-container{
	display: table;
    list-style: none;
    padding: 0;
    margin-left:auto;
    margin-right:5%;
}

.menu-item{
	display: inline-block;
    
}

.main-content{
	width:100%;
}

.cadre-principal{
	width:66%;
	
	margin:auto;
	
	margin-top:0%;
	
}

@media screen and (max-width:850px){
	.cadre-principal{
		width:95%;
	}
}


.container-question{
margin:0% 0% 2% 0%;

	
}

.question{
text-align:center;

}


.container-reponse{
	text-align:center;
}

div{border:1px solid black;}