    html, body{margin:0;padding:0;--margin1:0.66em;}
    div{border:	0px solid black;}






/*header*/


/*header*/





/*header*/
.main_content1{max-width:900px;margin:auto;}
/*header*/







/*page MyTest.html*/

.container_new_aliment{margin-bottom:6%;}
#new_aliment{width:23%;margin:auto;text-align:center;min-height:29px;}
.container_categorie{width:100%;margin-bottom:6%;}
.categorie{width:23%;margin-left:0.5%;margin-right:0.5%;min-height:50px;text-align:center;cursor:pointer;}
.categorie_title{padding:5px;background-color:#E17632;}

@media screen and (max-width:900px){
	.categorie{width:45%;margin-bottom:2%;}
	#new_aliment{width:45%;}
}

.content_categorie{width:100%;flex-flow: wrap;font-size:16px;
	justify-content: center;overflow:auto;padding-top:15px;padding-bottom:15px;min-height:50px;
}
.aliment{max-width:140px;margin:auto;box-shadow:2px 2px 3px #BBBBBB;border:1px solid #CCCCCC;:3px 5px 3px 5px;cursor:pointer;padding:3px 6px 3px 6px;background-color:#FFFFFF;}




/*page MyTest.html*/



/*button*/

.button1{margin:3px;margin:auto;padding:4px 10px 4px 10px;font-size:20px;
box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);
  transition: all 0.3s cubic-bezier(.25,.8,.25,1);}
.button1:hover{background-color:#E4E4E4;}
.button1:active{box-shadow: 0 0px 3px rgba(0,0,0,0.38), 0 0px 2px rgba(0,0,0,0.55);}
/*button*/




/*shadow*/

.shadow-google{padding:1.2em;box-shadow: 0 0px 3px rgba(0,0,0,0.18), 0 0px 2px rgba(0,0,0,0.35);
    border-radius:3px;}


/*shadow*/



/*margin */
.margin-right{margin-right:var(--margin1);}
.margin-left{margin-left:var(--margin1);}