 /* fonts */

 @import url("../fonts/kelson_light_macroman/stylesheet.css");
 /* police : kelson_lt */

 @import url("../fonts/kelson_medium_macroman/stylesheet.css");
 /* police : kelson_md */

 @import url("../fonts/kelson_regular_macroman/stylesheet.css");
 /* police : kelson_rg */

 @import url("../fonts/kelson_thin_macroman/stylesheet.css");
 /* police : kelson_ultralt */

 @import url("../fonts/gotham/style.css");
 /* police : kelson_ultralt */

 .font-title-rg {
 	/*corespond au font utilisée pour les titres*/
 	font-family: 'kelson_rg', sans-serif;
 }

 .font-title-lt {
 	/*corespond au font utilisée pour les titres*/
 	font-family: 'kelson_lt', sans-serif;
 }

 .font-title-md {
 	/*corespond au font utilisée pour les titres*/
 	font-family: 'kelson_md', sans-serif;
 }

 .font-title-ultralt {
 	/*corespond au font utilisée pour les titres*/
 	font-family: 'kelson_ultralt', sans-serif;
 }

 .font-text-Book {
 	/*corespond au font utilisée pour les textes courants*/
 	font-family: 'Gotham-Book', sans-serif;
 }

 .font-text-Bold {
 	/*corespond au font utilisée pour les textes courants*/
 	font-family: 'Gotham-Bold', sans-serif;
 }

 .font-text-Light {
 	/*corespond au font utilisée pour les textes courants*/
 	font-family: 'Gotham-Light', sans-serif;
 }

 /* permet de déclarer nos variables en css */
 :root {
  --mediumScreen:900px;
	--Smargin1: 0.33em;
	--Smargin2: 0.66em;
	--Smargin3: 1em;
	--Nmargin1:1.33em;
	--Nmargin2:1.66em;
	--Nmargin3:2em;
	--respFont1:20px;
	--respMargin1:2em;
 }

 /* si la taille d'écran est en dessous de 900px (ex: telephone, tablette) */
 /* on change la valeur de nos variables  */
 @media screen and (max-width:var(--mediumScreen)) {
 	:root {
		 --Smargin1: 0.15em;
		 --respFont1:12px;
		 --respMargin1:0.5em;
		
 	}
}

 html, body {
	margin: 0;
	padding: 0;
	font-family: 'kelson_lt', sans-serif;
  background-image:url('../themeNutridelta/fond_result.jpg');
	
}

div {
	border: 0px solid #666666;
}

 /*header*/

 .header1{
	 margin:var(--Nmargin1) auto var(--Nmargin1) auto;
	 width:100%;
	 max-width:800px;
   padding:1.25em;

	 
 }

 /*header*/


  /*div de contenu principale*/
 .main_content1 {
	width:100%;display:flex;
  max-width:800px;margin:auto;
  padding:0.76em;
  background-color:rgba(255,255,255,0.88);
}
/*div de contenu principale*/

 
 /*page MyTest.html*/

 .container_new_aliment {
 	margin-bottom: 6%;
 }

 #new_aliment {
 	width: 23%;
 	margin: auto;
 	text-align: center;
 	min-height: 29px;
 }

 .container_categorie {
 	width: 100%;
 	margin-bottom: 6%;
 }

 .categorie {
 	width: 23%;
 	margin-left: 0.5%;
 	margin-right: 0.5%;
 	min-height: 50px;
 	text-align: center;
 	cursor: pointer;
 }

 .categorie_title {
 	padding: 5px;
 	background-color: #E17632;
 }

 @media screen and (max-width:900px) {
 	.categorie {
 		width: 45%;
 		margin-bottom: 2%;
 	}
 	#new_aliment {
 		width: 45%;
 	}
 }

 .content_categorie {
 	width: 100%;
 	flex-flow: wrap;
 	font-size: 16px;
 	justify-content: center;
 	overflow: auto;
 	padding-top: 15px;
 	padding-bottom: 15px;
 	min-height: 50px;
 }

 .aliment {
 	max-width: 140px;
 	margin: auto;
 	box-shadow: 2px 2px 3px #BBBBBB;
 	border: 1px solid #CCCCCC;
 	margin: 3px 5px 3px 5px;
 	cursor: pointer;
 	padding: 3px 6px 3px 6px;
 	background-color: #FFFFFF;
 }

 /*page MyTest.html*/






 /*button*/

 .button1 {
 	margin: 3px;
 	margin: auto;
 	padding: 4px 10px 4px 10px;
 	font-size: 20px;
 	box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
 	transition: all 0.3s cubic-bezier(.25, .8, .25, 1);
 }

 .button1:hover {
 	background-color: #E4E4E4;
 }

 .button1:active {
 	box-shadow: 0 0px 3px rgba(0, 0, 0, 0.38), 0 0px 2px rgba(0, 0, 0, 0.55);
 }

 /*button*/






 /*shadow*/

 .shadow_google {

  box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);
 
 }

 /*shadow*/






 /*margin */

 .margin-right {
 	margin-right: var(--margin1);
 }

 .margin-left {
 	margin-left: var(--margin1);
 }
  /*margin */





  



