{% extends 'base.html' %}
{% block content %}
{% load static %}


<style>


</style>

<div>
  <div style="background-color:white;position:relative;margin:auto;padding-bottom:1.5em;" class="shadow_google">



 {% include 'Questionnaire/titleQuestionnaire.html' with title="Choisissez vos objectifs" %}


  <div style="margin-top:1.5em;">
      <div class="magic_flos_responsive">
        {% for elem in listeObjectives %}
        <div>
        <div class="choixObjectif" id="{{ elem.id }}" style="background-image:url('{% static 'img/humanBodySystem/'%}{{ elem.name }}.png');">
        </div>
        <div style="text-align:center;font-size:12px;"><b>{{elem.name}}</b></div>
      </div>
        {% for elem2 in userObjectives %}
        {% ifequal elem.id elem2.objectif_id %}
        <script>

          document.getElementById("{{ elem.id }}").classList.add("objectifSelected");

        </script>
        {% endifequal %}
        {% endfor %}
        {%endfor%}
      </div>
  </div>
</div>


{% include 'questionnaire/bottomQuestionnaireBarre.html' with previous_url=previous_url %}



</div>


{% endblock %}
