 {% load static %}

<div class="container">



  <div id="sportUserDiv">

    {% for a in userSport %}
      <div class="card-1 div_user_sport" id="div_user_Sport_{{ a.sport.id }}" >
        <div style="width:100%;display:flex;">
        <div style="margin-top:auto;">{{ a.sport }}</div>
        <div style="margin-left:auto;">
          <button type="button" class="btn btn-danger deleteSport"  onclick="deleteSportChoice(this.id, '{{ a.sport.name }}')" id="{{ a.sport.id }}" style="margin-left:1em;">X</button>
        </div>
      </div>
        <select class="form-control inputstl" style="margin-top:0.2em;">
          <div>
            <option>30min</option>
            <option>1h</option>
            <option>2h</option>
            <option>3h</option>
            <option>4h</option>
            <option>5h</option>
            <option>Plus de 5h</option>
          </div>

        </select>
      </div>

      <div class="container">
        <span class="glyphicon glyphicon-remove"></span>
      </div>

    {% endfor %}

 </div>
  <div style="margin-top:4em;width:100%;">

    <div style="width:100%;margin-bottom:1em;"><b>Ajouter un sport</b></div>


    <div style="width:100%;margin:auto;display:flex;">
      <select id="select_sport"
              class="form-control inputstl"
              style="margin-right:0.5em;"
      >
       <option value="" selected>--</option>
        {% for h in listSports %}
          <option value="{{ h.id }}" id="{{ h.id }}" onclick="addSport({{ h.id }},{{ h.name }})">{{ h.name }}</option>
        {% endfor %}
      </select>


      <button class="btn btn-primary" id="addSport">Ajouter</button>
    </div>
  </div>


</div>






