<div class="container-title-questionnaire">
  <div style="margin-right:auto;display:flex;">
    {% if prev_parameter %}
      <a style="margin:auto;" href="{% url prev_url prev_parameter %}">
        <div class="prev"></div>
      </a>
    {% else %}
      <a style="margin:auto;" href="{% url prev_url %}">
        <div class="prev"></div>
      </a>
    {% endif %}
  </div>
  <div class="title-questionnaire magic_flos_responsive">
    <div >{{ title }}</div>
  </div>
  <div style="margin-left:auto;display:flex;">
    {% if next_parameter %}
      <a style="margin:auto;" href="{% url next_url next_parameter %}">
        <div class="next"></div>
      </a>
    {% else %}
      <a  style="margin:auto;" href="{% url next_url %}">
        <div class="next"></div>
      </a>
    {% endif %}
  </div>
</div>
