{% load static %}

<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Nutridelta V3</title>

<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">

    <!-- Latest compiled and minified CSS -->
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css">
<link rel="stylesheet" href="{% static 'css/nutridelta_style.css' %}">





</head>

<body>
 
  
<div class="main-content-nutridelta">

<nav class="navbar navbar-expand-md navbar-dark navbar-custom p-0" style="margin:0;padding:0;width:100%;">
   
    <button class="navbar-toggler mr-3" type="button" data-toggle="collapse" data-target="#navbarContent" aria-controls="navbarContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarContent">
        <div class="navbar-header" style="display:flex;">
          <!--L'emplancement du logo de Nutridelta -->
         <div style="margin:auto;display:inline-block;">
          <a class="navbar-brand" href="{% url 'nutridelta:index' %}"><img id="logo" src="{% static 'themeNutridelta/logo-minimaliste.png' %}"></a>
        </div>
          <!--L'emplancement du logo de Nutridelta -->

          
      </div>
      <ul class="navbar-nav mr-auto">
        <li class="nav-item active">
            <a class="nav-link" href="#">Home</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" href="#">Link</a>
        </li>
    </ul>
    <div style="margin-left:auto;">
    <ul class="navbar-nav mr-auto" >
        <li class="nav-item">
            {% if user.is_superuser %}
            <a class="nav-link " href="{% url 'admin:index' %}">admin</a>   
            {% endif %}
        </li>
        <li>
            {% if user.is_authenticated %}
            <a class="nav-link " href="{% url 'accounts:logout' %}">Deconnexion</a>   
            {% else %}
        </li>
        <li class="nav-item">
          <a class="nav-link " href="{% url 'accounts:register' %}"><span class="glyphicon glyphicon-user"></span> Inscription</a>
      </li>
      <li class="nav-item">
          <a class="nav-link " href="{% url 'accounts:connexion' %}"><span class="glyphicon glyphicon-log-in"></span> Connexion</a>
          {% endif %}
      </li>
  </ul>
</div>
</div>
</nav>

  {% if messages %}        
<div style="margin:0.11em;">
{% for message in messages %}
    <div class="alert alert-{{message.tags}} page-alert">
        <button type="button" class="close" data-dismiss='alert'>
             <span aria-hidden="true"> × </span>
             <span class="sr-only">Close</span>
        </button>
        {{message}}
    </div>
{% endfor %}
    </div>
{% endif %}   

     
           <div class="block-content-nutridelta">
            {% block content %}
           
              <!--  On affiche ici les messages(qu'on peut generer dans les views) -->
               
            

            {% endblock %}
          </div>
<!-- Footer -->
         <!-- Footer -->
          <footer class="mastfoot mt-auto" style="border-radius:0;">

            <!-- Footer Elements -->
            <div class="container-fluid text-center text-md-left mt-5" style="margin:0;padding:0;border-radius:0;" id="footer">
              <div class="text-white bg-dark mb-23" style="margin:0;padding:0em;">
                <div class="card-footer bg-transparent" style="margin:0;">

                  <!-- Social buttons -->


                  <div class="footer-center magic_flos_responsive">
                    <a href="#"><img id="logo" src="{% static 'themeNutridelta/logo-footer.png' %}"></a>
                  </div>

                  <div class="footer-center magic_flos_responsive linksite">
                   <a href="">Acceuil</a>
                   <a href="">Faire le test</a>
                   <a href="">Mon profil</a>
                   <a href=""> A propos</a>
                   <a href="">Mention légales et CGU</a>
                   <a href="">Contact</a>
                 </div>

              <div class="footer-center magic_flos_responsive margin-bottom" >

                  <ul class="list-unstyled list-inline text-left" style="font-size: 40px;">

                    <!-- Facebook -->
                    <li class="list-inline-item">
                      <a class="btn-floating btn-fb mx-1" style="color:#3B5998" href="https://www.facebook.com/">
                        <i class="fa fa-facebook"></i>
                      </a>
                    </li>
                    <li class="list-inline-item">
                      <a class="btn-floating btn-tw mx-1" style="color:#33CCFF">
                        <i class="fa fa-twitter"> </i>
                      </a>
                    </li>
                    <li class="list-inline-item">
                      <a class="btn-floating btn-gplus mx-1"style="color:#DD4B39">
                        <i class="fa fa-google-plus"> </i>
                      </a>
                    </li>
                    <li class="list-inline-item">
                      <a class="btn-floating btn-li mx-1" style="color:#0e76a8">
                        <i class="fa fa-linkedin"> </i>
                      </a>
                    </li>
                  </ul>
                </div>

        <!-- contact --> 
        <div class="row margin-bottom">
         <div style="margin:auto;text-align:center;">
          <div><i class="fa fa-home mr-3"></i>79 Avenue de la République, 17210 Montlieu la garde, France</div>

          <div><i class="fa fa-phone mr-3 hover"></i> 05 46 48 34 30</div>

          <div><i class="fa fa-envelope mr-3"></i><a href="mailto:contact@nutridelta.fr">contact@nutridelta.fr</a></div>

        </div>
      </div>
      <!-- Copyright -->
        <div class="row" style="margin-top:1.6em;">
          <div class="small_font_size" style="margin:auto;text-align:center;">
          <cite ><i>Tous droits réservés. Nutridelta 2018 - 2019
          . Made with by GPhy</i></cite>
<!-- Footer -->
        </div>
        <!-- Copyright -->
      </div>
    </div>
  </div>
  </div>
</footer>
</div>

<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"
 integrity="sha256-FgpCb/KJQlLNfOu91ta32o/NMZxltwRo8QtmkMRdAu8=" crossorigin="anonymous"
></script>
<script src="https://ajax.googleapis.com/ajax/libs/jqueryui/1.10.3/jquery-ui.min.js"></script>

<!-- Latest compiled JavaScript -->
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js"></script> 




<!-- jQuery library -->
<script src="{% static 'js/drag_aliments.js' %}"></script>
<script src="{% static 'js/nutridelta_script.js' %}"></script>


</body>
</html>



