{% extends 'base.html' %}
{% block content %}
{% load static %}







<div class="container-acceuil-nutridelta shadow_google" style="width:100%;display:flex;border:1px solid #BBBBBB;background-color:rgba(255,255,255,0.2);">

<div class="left_side_index">

	<div style="padding-bottom:2em;"><b>80%</b> de la population est en <b>déficience ou carrence</b> d'un ou plusieurs micro-nutriments. Grace au test Nutridelta detectez en moins de <b>5 minutes</b> vos défiences ou carrences en vitamine, minéraux et oligo-élèments.</div>

	<div  class="" style="display:flex; margin:auto;" >
		<button  class="btn btn-danger btn-lg  title1-nutridelta  buttonNutri" style="width:100%;padding:15px;background-color:#E64632;border-radius:4px;">DEMARRER LE TEST NUTRIDELTA</button>

</div>

<div style="text-align:center;margin-top:0.5em">Gratuit, et sans inscription.</div>


	<div  class=""style="padding-top:2em;">
		<a href="#"><img class="images" src="{% static 'themeNutridelta/form/picto-bienetre.png' %}" style="width: 15%;" /></a>
		<a href="#"><img class="images" src="{% static 'themeNutridelta/form/picto-sport.png' %}" style="width: 15%; "/></a>
		<a href="#"><img class="images" src="{% static 'themeNutridelta/form/picto-examen.png' %}" style="width: 15%;" /></a>
		<a href="#"><img class="images" src="{% static 'themeNutridelta/form/picto-grossesse.png' %}" style="width: 15%;"/></a>
		<a href="#"><img class="images" src="{% static 'themeNutridelta/form/picto-regime.png' %}" style="width: 15%;"  /></a>
		<a href="#"><img class="images" src="{% static 'themeNutridelta/form/picto-sante.png' %}" style="width: 15%;" /></a>
	</div>
</div>





	<div class="logo" ><img style="width:100%;  " src="{% static 'themeNutridelta/logo_transparent.png' %}"></div> 

</div>

{% endblock %}

