{% extends 'base.html' %}
{% block content %}
  {% load static %}


    <main class="mdl-layout__content no-padding">

     <!--  titre de section -->
     <div class= "containerMentionsLegales">
     <div class="titlesection">
		<div class="jumbotron text-center"><h1>MENTION LEGALES</h1>
		</div>
      
	  
	   

      <!-- on réutilise le théme utilisé pour about.php, -->
      <div> <span style="padding:3%;font-weight: bold;text-align: center;color:#FF0000;">Informations Editeurs </span></div>
			<div style="margin:5%;">
				  <div>Editeur du site: BENEFIK PHYTO-BASIK-</div>
				  <div> Responsable de publication: Brillet Anabelle</div>
				  <div>Adresse: 79 avenue de la République, 17210 Montlieu La Garde</div>
				  <div>Téléphone: 05 46 49 96 45</div>
				  </div>
		
		<div> <span style="padding:3%;font-weight: bold;text-align: center;color:#FF0000;">Information Site </span></div>
			<div style="margin:5%;">
				<div>Site: <a href="www.nutridelta.fr">www.nutridelta.fr</a></div>
				<div>Email: contact@nutridelta.fr</div>
			</div>
		
		<div> <span style="padding:3%;font-weight: bold;text-align: center;color:#FF0000;">Hébergement </span></div>
			<div style="margin:5%;">
				<div>Hebergeur: </div>
				<div>Adresse: </div>
				<div>Site de l’hébergeur: </div>
			</div>
		
		<div> <span style="padding:3%;font-weight: bold;text-align: center;color:#FF0000;">Développement </span></div>
			<div style="margin:5%;">
				<div>Développeur du site: </div>
				<div>Adresse: </div>
				<div>Site du développeur: </div>
			</div>
		
		<div> <span style="padding:3%;font-weight: bold;text-align: center;color:#FF0000;">CNIL </span></div>
			<div style="margin:5%;">
				<div>CNIL: conformément aux dispositions de la loi 78-17 du 6 janvier 1978 modifiée, l’Utilisateur dispose d'un droit d'accès, de modification et de suppression des informations collectées par Benefik-Phyto. Pour exercer ce droit, il reviendra à l’Utilisateur d'envoyer un message à l'adresse suivante : service.client.benefik@gmail.com</div>
				
			</div>
		</div>
		
		

		</div>
	</div>
</main>

{% endblock %}
